category_encoders==2.5.1.post0
catboost==1.0.6
dython==0.7.2
feature-engine==1.4.1
featurewiz==0.1.996
joblib==1.1.0
kaleido==0.2.1
lightgbm==3.3.2
matplotlib==3.5.3
numpy==1.23.3
optuna==3.0.2
pandas==1.4.4
psycopg2-binary==2.9.4
plotly==5.10.0
scikit-learn==1.1.2
scipy==1.8.1
seaborn==0.11.2
shap==0.41.0
statsmodels==0.13.2
streamlit==1.13.0
tqdm==4.64.1
xgboost==1.6.2
yellowbrick==1.5
-e .